
*,*::before, *::after {
        box-sizing: border-box;
        transition: all 0.3s ease;
    }

:root {
    --NS-Yellow: #FDD44F/ rgb(253, 212, 79);
    --NS-Blue: #003399/ rgb(0, 51, 127);
}

/* 
fieldset {
    position: relative;
    z-index: 10;
    border-radius: 8px;
    padding: 1px 8px;
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    
}

span {
    position: absolute;
    left: 15px;
    top: -23%;
    font-size: 18px;
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 111;
    padding: 2px;
    border-radius: 16px;

    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5);
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    0% {
        z-index: 0;
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        z-index: 111;
        opacity: 1;
        transform: translateY(0);
    }
}




form {
    position: relative;
    z-index: 10;
    border-radius: 8px;
    color: white;
    padding: 1px 8px;
    margin: 2em 0 0 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}

input {
    width: 8em;
    height: 1.8em;
    padding: 8px;
    border-radius: 4px;
    background: transparent;
}

form:nth-of-type(2) input {
    width: 10em;
}

#BSNnumber {
    width: 12em;
}

fieldset label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

fieldset input:focus + label,
fieldset input:not(:placeholder-shown) + label {
    left: 20px;
    top: 0;
    font-size: 12px;
    color: black;
    background-color: white;
    z-index: 111;
    padding: 0px;
    border-radius: 16px;
}

fieldset input:focus-visible {
    border-radius: 16px;
    border: 1px solid var(--NS-Yellow);
    outline: 1px solid var(--NS-Yellow);
    width: 100%;
    animation: glowing 1.5s infinite;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px var(--NS-Yellow);
    }
    50% {
        box-shadow: 0 0 10px var(--NS-Yellow);
    }
    100% {
        box-shadow: 0 0 5px var(--NS-Yellow);
    }
} */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

header img {
    width: 100px;
    animation: slideInFadeIn .5s ease-out;
}

@keyframes slideInFadeIn {
    0% {
        scale: .5;
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        scale: 1;
        opacity: 1;
        transform: translateX(0);
    }
}


form {
    z-index: 10;
    border-radius: 8px;
    padding: 4px 8px;
    margin: 0 auto;
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: none;
    background: none;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
}

.field1A {
    z-index: 10;
    border-radius: 8px;
    padding: 1px 8px;
    margin: 2em 0 2.5em 0;
    width: 100%;
    height: 15em;
    display: flex;
    justify-content: center;
    /* align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; */

    flex-direction: column;
    border: none;

    box-shadow: 0 2px 15px rgba(253, 212, 79, 0.5), 2px 0 30px rgba(0, 51, 127, 0.5);
}

.field1A:hover {
    transform: scale(1.02);
}

.field1A > input {
    width: 20em;
    height: 2em;
    padding: 8px;
    border-radius: 4px;
    background: transparent;
}

form .field1A label {
    /* position: relative; */
    width: fit-content;
    margin-left: 15px;
    transform: translateY(-120%);
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

form .field1A input:focus + label,
form .field1A input:not(:placeholder-shown) + label {
    margin-left: 10px;
    transform: translateY(-250%);
    font-size: 12px;
    color: black;
    background-color: white;
    z-index: 111;
    padding: 0px;
    border-radius: 16px;
}


form input:focus-visible {
    border-radius: 16px;
    /* border: 1px solid var(--NS-Yellow);
    outline: 1px solid var(--NS-Yellow); */
    border: 1px solid rgb(253, 212, 79);
    outline: 1px solid rgb(253, 212, 79);
    
    animation: glowing 1.5s infinite;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px rgb(0, 51, 127);
    }
    50% {
        box-shadow: 0 0 10px rgb(0, 51, 127);
    }
    100% {
        box-shadow: 0 0 5px rgb(0, 51, 127);
    }
}

.field1B {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0;
    border: none;
}

.field1B > fieldset:hover {
    transform: scale(1.02);
}


.field1B > fieldset {
    z-index: 10;
    border-radius: 8px;
    width: 100%;
    height: auto;
    display: flex;
    /* align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; */

    flex-direction: column;
    border: none;

    box-shadow: 0 2px 15px rgba(253, 212, 79, 0.5), 2px 0 30px rgba(0, 51, 127, 0.5);
}

/* .field1B > fieldset input {
    display: flex;
    height: 2em;
}

.field1B > fieldset label {
    margin-left: 20px;
    font-size: 20px;
    width: 40%;
    transform: translateY(-130%);
}

.field1B > fieldset > input:checked {
    accent-color: rgb(253, 212, 79);
    animation: glowing2 1.5s infinite;
}

@keyframes glowing2 {
    0% {
        box-shadow: 0 0 5px rgb(253, 212, 79);
    }
    50% {
        box-shadow: 0 0 10px rgb(253, 212, 79);
    }
    100% {
        box-shadow: 0 0 5px rgb(253, 212, 79);
    }
}

.field1B fieldset input:hover {
    transform: scale(1.1);
} */


.radioBox {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80%;
    margin: 0 auto;
}

.nee  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 4em;
}

.ja {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 4em;
}


.radioBox input {
    width: fit-content;
    padding: 0;
    margin: 0;

    appearance: none;
    border: 1px solid rgb(0, 51, 127);
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

.radioBox label {
    font-size: 18px;
    width: fit-content;
}


.radioBox input:checked {
    accent-color: rgb(253, 212, 79);
    border-top: 2px solid rgb(253, 212, 79);
    border-bottom: 2px solid rgb(253, 212, 79);
    border-left: 2px solid rgb(0, 51, 127);
    border-right: 2px solid rgb(0, 51, 127);
    animation: circleRotate 2.5s forwards;
}


@keyframes circleRotate {
    0% {
        box-shadow: 0 0 5px rgb(253, 212, 79);
        transform: rotate(0deg);
    }
    100% {
        box-shadow: 0 0 20px rgb(253, 212, 79);
        transform: rotate(360deg);
    }
}

.radioBox input:checked + label {
    font-size: 22px;
    font-weight: 900;
}

.radioBox input:after {
    content: '';
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: rgb(253, 212, 79);
    box-shadow: 0 0 5px rgb(253, 212, 79);
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
}


.radioBox input:checked:after {
    filter: blur(2px);
    transform: translate(-50%, -50%) scale(1);
}

.radioBox input:hover,
.radioBox input:not(:checked):hover {
    transform: scale(1.9);
}



legend {
    z-index: 100;
    color: black;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 -3px 5px rgba(253, 212, 79, 0.5);
    border-radius: 16px;
    padding: 4px 8px;
    width: 100%;
    margin: 0 auto;

    margin-bottom: 2em;
}