
*,*::before, *::after {
        box-sizing: border-box;
        transition: all 0.3s ease;
    }

:root {
    --NS-Yellow: #FDD44F/ rgb(253, 212, 79);
    --NS-Blue: #003399/ rgb(0, 51, 127);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 95vw;
    margin: 0 auto;
    padding: 4px 8px;
    background: red;
}

header img {
    width: 100px;
    animation: slideInFadeIn .5s ease-out;
}

@keyframes slideInFadeIn {
    0% {
        scale: .5;
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        scale: 1;
        opacity: 1;
        transform: translateX(0);
    }
}

main h2 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 95vw;
    padding: 4px 8px;
}

form {
    z-index: 10;
    border-radius: 8px;
    padding: 4px 8px;
    margin: 0 auto;
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: none;
    background: none;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
}

.field1A, .field1D > fieldset:last-of-type {
    z-index: 10;
    border-radius: 8px;
    padding: 10px 8px;
    margin: 2em 0 2.5em 0;
    width: 100%;
    height: 15em;
    display: flex;
    justify-content: center;
    /* align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; */

    flex-direction: column;
    gap: 20px;
    border: none;

    box-shadow: 0 2px 15px rgba(253, 212, 79, 0.5), 2px 0 30px rgba(0, 51, 127, 0.5);
}

.field1Aa > label > span {
    color: red;
}

.field1Aa, .field1D > fieldset:last-of-type > .field1Dd {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row-reverse;
    position: relative;
}

.field1Aa > input, .field1D > fieldset:last-of-type > .field1Dd > input {
    margin-left: 1em;
    width: 10em;
    height: 2em;
    padding: 8px;
    border-radius: 4px;
    background: transparent;
}

form .field1Aa label, form .field1D > fieldset:last-of-type > .field1Dd label {
    /* position: relative; */
    margin-left: 20px;
    width: 13em;
    font-size: 14px;
    font-weight: 500;
    /* transform: translateY(-120%); */
    color: rgba(0, 0, 0, 1);
    transition: font-size 0.4s ease, width 0.3s ease;
}

form .field1A input:focus + label,
form .field1D > fieldset:last-of-type input:focus + label {
    font-size: 15px;
    width: 12em;
    color: rgb(0, 51, 127);
    z-index: 111;
    padding: 0px;
    border-radius: 16px;
}


.field1Aa > input:focus-visible, .field1D > fieldset:last-of-type > .field1Dd > input:focus-visible {
    border-radius: 16px;
    /* border: 1px solid var(--NS-Yellow);
    outline: 1px solid var(--NS-Yellow); */
    border: 1px solid rgb(253, 212, 79);
    outline: 1px solid rgb(253, 212, 79);
    
    animation: glowing 1.5s infinite;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px rgb(0, 51, 127);
    }
    50% {
        box-shadow: 0 0 10px rgb(0, 51, 127);
    }
    100% {
        box-shadow: 0 0 5px rgb(0, 51, 127);
    }
}


/* Hide and show onClick */


/* .field1B .radioBox:first-of-type #getrouwdNee:checked + .field1C {
    background: red;
} */

.field1B {
    z-index: 10;
}

.field1B, .field1C, .field1D {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0;
    width: 100%;
    border: none;
}

.field1A:hover, .field1B > fieldset:hover, .field1C > fieldset:hover, .field1D > fieldset:hover {
    /* transform: scale(1.02); */
    box-shadow: 0px 0px 10px rgba(253, 212, 79, 0.8);
}


.field1B > fieldset, .field1C > fieldset, .field1D > fieldset {
    z-index: 10;
    border-radius: 8px;
    width: 100%;
    height: auto;
    display: flex;
    /* align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; */

    flex-direction: column;
    border: none;

    box-shadow: 0 2px 15px rgba(253, 212, 79, 0.5), 2px 0 30px rgba(0, 51, 127, 0.5);
}

.field1D {
    margin-top: 2.5em;
}

.radioBox {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80%;
    margin: 0 auto;
}

.field1C {
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    transform: translateY(-100px);
    transition: transform 0.4s ease-in-out, opacity 0.8s ease-in-out;
}

:has(input[value="Nee"]:checked) ~ .field1C {
    display: flex;
    transform: translateY(0px);
    opacity: 1;
    margin-top: 2.5em;
    height: auto;
    z-index: 1;

    transition: transform 0.4s ease-in-out, opacity 0.8s ease-in-out;
}

/* Show field1C whatever the user chose for the last option in field1B */

/* :has(input[value="Ja"]:checked):nth-of-type(3) ~ .field1C {
    display: flex;
} */

/* :has(input[value="Nee"]:checked) ~ .field1B:has(input[value="Nee"]:not(:checked)) ~ .field1B {
    
    opacity: 0;
} */



.nee, .ja {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 3em;

    /* border-radius: 24px;
    padding: 5px;
    padding-left: 10px;
    box-shadow: 2px 0 30px rgba(0, 51, 127, 0.5); */
}

/* .nee:hover, .ja:hover {
    transform: scale(1.02);
} */


.radioBox input {
    position: relative;
    width: fit-content;
    padding: 0;
    margin: 0;

    appearance: none;
    border: 1px solid rgb(0, 51, 127);
    border-radius: 50%;
    width: 3em;
    height: 3em;

    transition: border 0.5s ease-in-out, box-shadow 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.5s ease-in-out, border 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.radioBox label {
    font-size: 18px;
    width: fit-content;
}

.radioBox input:checked:after {
    filter: blur(2px);
    transform: translate(-50%, -50%) scale(1);
}

.radioBox input:hover,
.radioBox input:not(:checked):hover {
    transform: scale(1.1);
    border: 3px solid rgb(0, 51, 127);
    box-shadow: 0 0 20px rgb(253, 212, 79);
}


.radioBox input:checked {
    border-top: 2px solid rgb(253, 212, 79);
    border-bottom: 2px solid rgb(253, 212, 79);
    border-left: 2px solid rgb(0, 51, 127);
    border-right: 2px solid rgb(0, 51, 127);
    animation: circleRotate 2.5s forwards;
}


@keyframes circleRotate {
    0% {
        box-shadow: 50px 0 10px rgb(253, 212, 79);
        box-shadow: 0 50px 10px rgb(253, 212, 79);
        transform: rotate(0deg);
    }
    25% {
        box-shadow: 0 50px 10px rgb(253, 212, 79);
        box-shadow: 50px 0 10px rgb(253, 212, 79);
        transform: rotate(90deg);
    }
    50% {
        box-shadow: 0px 50px 10px rgb(253, 212, 79);
        transform: rotate(180deg);
    }
    75% {
        box-shadow: 0px 50px 10px rgb(253, 212, 79);
        transform: rotate(270deg);
    }
    100% {
        box-shadow: 0 0px 20px rgb(253, 212, 79);
        transform: rotate(360deg);
    }
}

.radioBox input:checked + label {
    font-size: 22px;
    font-weight: 900;
}

.radioBox input:after {
    content: '';
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: rgb(253, 212, 79);
    box-shadow: 0 0 20px rgb(253, 212, 79);
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;

    transition: transform 0.2s ease-in-out;
}






legend {
    z-index: 100;
    color: black;
    background: rgba(255, 255, 255, 0.9);
    background: rgb(253, 212, 79);
    box-shadow: 0 -3px 10px rgba(253, 212, 79, 0.5);
    border-radius: 16px;
    padding: 4px 8px;
    width: 100%;
    margin: 0 auto;

    margin-bottom: 2em;
}


/* :has(.BSNnumberInput.invalid)::after {
    content: "eeee";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    background: yellow;
} */


/* #overlijdensdatum::-webkit-calendar-picker-indicator {
    opacity: 0;
}

#overlijdensdatum {
    position: relative;
}

#overlijdensdatum:after {
    content: "📅";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    pointer-events: none;
} */

button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 3em 6em;
    border-radius: 16px;
    border: none;
    background: transparent;
    box-shadow: 0 0 20px rgb(253, 212, 79);
    margin: 0 auto;
    overflow: hidden;
}
button p {
    z-index: 10000;
    position: absolute;
    padding: 0;
}

button:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-10em);
    width: 15em;
    height: 15em;
    background: rgba(253, 212, 79, 0.8);
    border-radius: 50%;
    filter: blur(10px);
}

button:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(5em);
    width: 10em;
    height: 5em;
    background: rgba(253, 212, 79, 0.8);
    border-radius: 50%;
    filter: blur(10px);
}

button:active {
    transform: scale(1.05);
}

button:active p {
    font-size: 22px;
}

button:active:before, button:active:after {
    transform: translateX(0em);
    background: rgba(253, 212, 79, 1);
}


/* Error message handler */

.field1Aa > span, .field1D > fieldset:last-of-type > .field1Dd > span {
    opacity: 0;
    font-size: 8px;
    padding: 2px 4px;
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    pointer-events: none;
}

.field1Aa > input:user-invalid, .field1D > fieldset:last-of-type > .field1Dd > input:user-invalid {
    border-radius: 16px;
    border: 1px solid red;
    outline: 1px solid red;
    animation: invalidGlow 1.5s ease-in-out;
}

.field1Aa > input:user-invalid ~ span:first-of-type, .field1D > fieldset:last-of-type > .field1Dd > input:user-invalid ~ span:first-of-type {
    opacity: 1;
    font-size: 12px;
    padding: 2px 4px;
    position: absolute;
    z-index: 100;
    top: -40%;
    right: 0%;
    transform: translate(-50%, -50%);

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 16px;
}

/* Checkmark validation */

.field1Aa > input + label::after, .field1D > fieldset:last-of-type > .field1Dd > input + label::after {
    content: "✓";
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(50%, -50%) scale(0.8);
}


.field1Aa > input:user-valid + label::after, .field1D > fieldset:last-of-type > .field1Dd > input:user-valid + label::after {
    content: "✓";
    opacity: 1;
    position: absolute;
    top: 50%;
    left: -1%;
    transform: translate(50%, -50%) scale(1);
    font-size: 18px;
    color: green;
    animation: checkMarkGrow 0.5s ease-out 1s;
}

@keyframes checkMarkGrow {
    0% {
        font-size: 18px;

    }
    50% {
        font-size: 20px;

    }
    100% {
        font-size: 18px;

    }
}



/* BSN number validation error message */

.BSNnumberInput.valid {
    position: relative;
    outline: 2px solid green;
    animation: validGlow 1.5s ease-in-out;
}

@keyframes validGlow {
    0% {
        box-shadow: 0 0 5px green;
    }
    50% {
        box-shadow: 0 0 15px green;
    }
    100% {
        box-shadow: 0 0 5px green;
    }
}

.BSNnumberInput.invalid {
    border: 1px solid red;
    outline: 2px solid red;
    animation: invalidGlow 1.5s ease-in-out;
}

@keyframes invalidGlow {
    0% {
        box-shadow: 0 0 5px red;
    }
    50% {
        box-shadow: 0 0 15px red;
    }
    100% {
        box-shadow: 0 0 5px red;
    }
}

.field1Aa > .BSNnumberInput.invalid ~ span:last-of-type, .field1D > fieldset:last-of-type > .field1Dd > .BSNnumberInput.invalid ~ span:last-of-type {
    opacity: 1;
    font-size: 12px;
    padding: 2px 4px;
    position: absolute;
    z-index: 100;
    top: -40%;
    right: 0%;
    transform: translate(-100%, -50%);

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 16px;
}


.field1Aa > .BSNnumberInput + label::after, .field1D > fieldset:last-of-type > .field1Dd > .BSNnumberInput + label::after {
    content: "";
}

.field1Aa > .BSNnumberInput.invalid + label::after, .field1D > fieldset:last-of-type > .field1Dd > .BSNnumberInput.invalid + label::after {
    content: "✗";
    opacity: 1;
    position: absolute;
    top: 50%;
    left: -1%;
    transform: translate(50%, -50%) scale(1);
    font-size: 18px;
    color: red;

    animation: crossMarkGrow 0.5s ease-out 1s;
}